<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2EOl3KNp9oUyT_XEVgeoPrGBg5CS92fE</string>
	<key>GCM_SENDER_ID</key>
	<string>557992190300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rumeysakutlu.PhotoSharing</string>
	<key>PROJECT_ID</key>
	<string>photosharingapp-88116</string>
	<key>STORAGE_BUCKET</key>
	<string>photosharingapp-88116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557992190300:ios:83346fd2d257c5a7f8e199</string>
</dict>
</plist>